.search {
    border: 2px solid lightseagreen;
    border-radius: 10px;
    background-color: white;
    color: lightseagreen;
    padding: 2px 28px;
    font-size: 16px;
    display: block;
    margin: 50px 50px 10px;
}
.plus {
    border: 1px solid lightseagreen;
    border-radius: 50%;
    background-color: lightseagreen;
    color: white;
    font-size: 30px;
    padding: 0px 8px;
    display: block;
    margin: 10px 50px 10px;
}
.account {
    border: 2px solid black;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: normal;
    padding: 5px 30px;
    display: block;
    margin: 10px 50px 10px;
    box-shadow: 5px 5px 5px -2px black;
}